.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node {
  color: black;
}

.answerBox {
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 20px;
  padding: 20px;
  font-weight: 700;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question {
  width: 500px;
}
